@using Kartverket.MetadataMonitor.Helpers
@using Kartverket.MetadataMonitor.Resources
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="utf-8">
    <title>Geonorge - Metadata Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="Arkitektum AS for Kartverket">
    <link rel="shortcut icon" type="image/x-icon" href="@Html.KartkatalogUrl()Content/img/favicon.ico" />

    @RenderSection("Head", required: false)
    <script>
        var applicationVersionNumber = '@Html.ApplicationVersionNumber()';
        var applicationEnvironment = '@Html.EnvironmentName()';

        var cultureData = {
            friendlyUrlEN: '@Html.Raw(Url.Action("SetCulture", "Dashboard", new { culture = Kartverket.MetadataMonitor.Models.Translations.Culture.EnglishCode, ReturnUrl = Request.Url }))',
            friendlyUrlNO: '@Html.Raw(Url.Action("SetCulture", "Dashboard", new { culture = Kartverket.MetadataMonitor.Models.Translations.Culture.NorwegianCode, ReturnUrl = Request.Url }))',
            currentCulture: '@CultureHelper.GetCurrentCulture()'
            };
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="geonorge-container prototype geonorge">

    <div id="loading-animation" class="loading-animation" style="display: none;"></div>

    <main-navigation environment="@Html.EnvironmentName().ToLower()"></main-navigation>
    @Styles.Render("~/shared-partials-styles")
    @Styles.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/css/styles")

    <div class="body-content">
        <div class="container">
            <div class="container container-breadcrumbs" id="navTabCont">
                <ul class="breadcrumbs col-md-12">
                    <li><a href="@Html.GeonorgeUrl()">Geonorge</a></li>
                    <li><a href="/">@UI.MetadataValidation</a></li>
                    @RenderSection("breadcrumb", false)
                </ul>
            </div>

            @RenderSection("login", required: false)
            @RenderSection("PageHeader", required: false)

            <div class="row">
                @if (!string.IsNullOrWhiteSpace(ViewBag.PageHeader))
                {
                    <h1>@ViewBag.PageHeader</h1>
                }
                @RenderBody()



            </div>
        </div>
    </div>
    <div class="container">
        <h4>Om tjenesten</h4>
        <p>
            Denne metadata-validatoren er et hjelpemiddel for etater som leverer metadata. Den foretar en teknisk kontroll av strukturen og kodene som finnes i de metadata som etatene har levert inn. Den sjekker ikke innholdskvalitet.
            Tilbakemeldinger på validatoren kan sendes til <a href="mailto:post@norgedigitalt.no?subject=Tilbakemelding%20Geonorge-metadatavalidator">post@norgedigitalt.no</a>
        </p>

        <p>Tjenesten validerer hver natt alle geografiske metadata som er publisert på <a href="http://www.geonorge.no">www.geonorge.no</a>. Alle metadata behandles i utgangspunket som en del av <a href="http://159.162.103.4/norgedigitalt.no/Norge_digitalt/Norsk/Inspire/Om_direktivet/">INSPIRE-direktivet</a>. Metadata som er merket med nøkkelordet 'Annet' blir behandlet som <a href="http://159.162.103.4/norgedigitalt.no/Norge_digitalt/Norsk/Metadata/">Norge Digitalt metadata</a>.</p>
        <p>
            <strong>Ressurser:</strong>
            <ul>
                <li><a href="http://inspire.jrc.ec.europa.eu/documents/Metadata/INSPIRE_MD_IR_and_ISO_v1_2_20100616.pdf">INSPIRE Metadata Implementing Rules</a></li>
                <li><a href="http://inspire-geoportal.ec.europa.eu/validator2/">INSPIRE metadata validator</a></li>
            </ul>
        </p>
    </div>
    @if (CultureHelper.IsNorwegian())
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer.min.cshtml");
    }
    else
    {
        @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Footer_eng.min.cshtml");
    }
    @Scripts.Render("~/shared-partials-scripts")
    <script>
        searchOption.supportsLogin = false;
        searchOption.epiBaseUrl = '@Html.GeonorgeUrl()';
        var orderItems = Cookies.get('orderitems');
        if (orderItems && orderItems > 0) {
            $('.downloads__count').show();
            $('.downloads__count').text(orderItems);
        }
    </script>

    @Scripts.Render("~/Content/bower_components/kartverket-felleskomponenter/assets/js/scripts")
    @RenderPage("~/Content/bower_components/kartverket-felleskomponenter/assets/partials/_Analytics.min.cshtml")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Chart.js")
    <script src="https://cdn.jsdelivr.net/npm/@("@kartverket/geonorge-web-components@0.1.33/MainNavigation.js")"></script>
    @RenderSection("scripts", required: false)
</body>



</html>
