<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title - GeoNorge Metadata Monitor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="@ViewBag.Description">
        <meta name="author" content="Arkitektum AS for Kartverket">

        
        @Styles.Render("~/Content/bootstrap/css/bundle")
        @Styles.Render("~/Content/css")
        @RenderSection("Head", required: false)

        @Scripts.Render("~/bundles/modernizr")
        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <header>
            <div class="container">
                @RenderSection("navbar", required: false)
                <a class="brand" href="@Url.Action("Index", "Dashboard")">
                    <h3>GeoNorge Metadata Monitor
                        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
                        {
                            <text> - @ViewBag.Title</text>
                        }
                    </h3>
                </a>
                
            </div>
        </header>
        <div class="content-wrapper clearfix">
            <div class="container content-body">
                <div class="pull-right">
                    <a href="http://www.norgedigitalt.no" target="_blank"><img src="~/Content/ND_logo_76x75.gif" width="76" height="75" alt="Norge Digitalt logo"/></a>
                    <a href="http://www.kartverket.no" target="_blank"><img src="~/Content/logo-kartverket-100x75.png" width="100" height="75" alt="Kartverket logo"/></a>
                </div>
            
                @if (!string.IsNullOrWhiteSpace(ViewBag.PageHeader))
                {
                    <h1>@ViewBag.PageHeader</h1>
                } 
            
                @RenderSection("PageHeader", required: false)

                <div style="clear:both">
                    @RenderBody()    
                </div>
            </div>
        </div>     
        <footer>
            <div class="container">
                <h4>Om tjenesten</h4>
                <p>Tjenesten validerer hver natt alle geografiske metadata som er publisert på <a href="http://www.geonorge.no">www.geonorge.no</a>. Alle metadata behandles i utgangspunket som en del av <a href="http://159.162.103.4/norgedigitalt.no/Norge_digitalt/Norsk/Inspire/Om_direktivet/">INSPIRE-direktivet</a>. Metadata som er merket med nøkkelordet 'Annet' blir behandlet som <a href="http://159.162.103.4/norgedigitalt.no/Norge_digitalt/Norsk/Metadata/">Norge Digitalt metadata</a>.</p>
                <p><strong>Ressurser:</strong> 
                    <ul>
                        <li><a href="http://inspire.jrc.ec.europa.eu/documents/Metadata/INSPIRE_MD_IR_and_ISO_v1_2_20100616.pdf">INSPIRE Metadata Implementing Rules</a></li>
                        <li><a href="http://inspire-geoportal.ec.europa.eu/validator2/">INSPIRE metadata validator</a></li>
                    </ul></p>
                <p class="pull-right text-small">Utviklet av <a href="http://www.arkitektum.no" target="_blank">Arkitektum AS</a></p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Content/bootstrap/js/bundle")
        @Scripts.Render("~/Scripts/Chart.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
