@model List<Arkitektum.Kartverket.MetadataMonitor.Models.ValidationResultModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="POST" action="/Validator/Start">
    <label for="uuid">uuid</label><input type="text" name="uuid" />
    <input type="submit" value="start"/>
</form>

<p>Message=@ViewBag.Message</p>

<h2>Results</h2>

    

@if (Model.Any())
{
    <table class="table">
        <thead>
            <td>Title</td><td>uuid</td><td>Validates OK</td><td>Timestamp</td><td>ErrorMessages</td>
        </thead>
        @foreach (var result in Model)
        {
            <tr>
                <td><a href="http://www.geonorge.no/geonetwork?uuid=@result.Uuid" target="_blank">@result.Title</a></td>
                <td>@result.Uuid</td>
                <td>@result.ValidateOk</td>
                <td>@result.ValidateTimestamp</td>
                <td>
                    @if (result.ErrorMessages != null)
                    {
                        <ul>
                            @foreach (var error in result.ErrorMessages)
                            {
                                <li>@error</li>
                            }
                        </ul>    
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No results!</p>
}
