@model List<Arkitektum.Kartverket.MetadataMonitor.Models.ValidationResultModel>
@{
    ViewBag.Title = "Valideringsresultater";
}

@if (ViewBag.Message != null)
{
<div class="alert alert-info">
    <p>@ViewBag.Message</p>
</div>
}

<form class="form-inline" method="POST" action="/Validator/Start">
    <label for="uuid">
        UUID <input type="text" name="uuid" />
    </label>
    <input type="submit" value="Start validering av metadata"/>
</form>

@if (Model.Any())
{
    <table class="table" style="table-layout: fixed">
        <thead>
            <th style="width: 25%">Tittel</th>
            <th style="width: 15%">Standard</th>
            <th style="width: 15%">Tidspunkt</th>
            <th style="width: 5%">Status</th>
            <th style="width: 40%">INSPIRE-feilmeldinger</th>
        </thead>
        @foreach (var result in Model)
        {
            var linkText = result.Title;
            if (linkText == null) { linkText = result.Uuid; }

            var statusClass = "label-success";
            var statusText = "OK";
            if (result.ValidateOk == false)
            {
                statusClass = "label-important";
                statusText = "FEIL";
            }
            
            <tr>
                <td>
                    <a href="http://beta.geonorge.no/geonetwork?uuid=@result.Uuid" target="_blank">@linkText</a>
                </td>
                <td>@result.MetadataStandardName</td>
                <td>@result.ValidateTimestamp</td>
                <td><span class="label @statusClass">@statusText</span></td>
                <td>
                    @if (result.ErrorMessages != null)
                    {
                        <ul>
                            @foreach (var error in result.ErrorMessages)
                            {
                                <li>@error</li>
                            }
                        </ul>    
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No results!</p>
}